<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.diabhelp.diabhelp"
    android:sharedUserId="fr.diabhelp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="fr.diabhelp.diabhelp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name = "android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="fr.diabhelp.diabhelp.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_icon"-->
            <!--android:resource="@drawable/diab_logo" />-->
        <!--&lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming-->
             <!--notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_color"-->
            <!--android:resource="@color/white" />-->
        <service
            android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".Services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".Services.RegistrationIntentService"
            android:exported="false"/>

        <receiver
            android:name=".Core.Broadcast_Receiver.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Core.CoreActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Menu.ParametersActivity"
            android:label="@string/title_parametre_activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".Core.CoreActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Core.CoreActivity"/>
        </activity>
        <activity
            android:name=".FAQ.Faq"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".FAQ.FaqSubmenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".FAQ.InfoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".SplashScreen"
            android:label="Diabhelp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Connexion_inscription.ConnexionActivity"
            android:label="@string/title_activity_connexion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Connexion_inscription.RegisterActivity"
            android:label="@string/title_register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu.ProfileActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UtilizationGuide.ManuelSubmenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".UtilizationGuide.ArticleAdapter"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".UtilizationGuide.GuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

           <activity
                android:name="fr.diabhelp.diabhelp.Carnet_de_suivi.Carnetdesuivi"
                android:label="@string/app_name_cds"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme_cds"
               >

            </activity>
            <activity
                android:name="fr.diabhelp.diabhelp.Carnet_de_suivi.Carnet.EntryActivity"
                android:label="@string/app_name_cds"
                android:windowSoftInputMode="adjustPan" />
            <activity
                android:name="fr.diabhelp.diabhelp.Carnet_de_suivi.Carnet.AccueilStatistics"
                android:label="@string/app_name_cds"
                android:windowSoftInputMode="adjustPan" />
            <activity
                android:name="fr.diabhelp.diabhelp.Carnet_de_suivi.Carnet.DayResultActivity"
                android:label="@string/app_name_cds" />
            <activity
                android:name="fr.diabhelp.diabhelp.Carnet_de_suivi.Carnet.Statistics.StatisticsActivity"
                android:label="@string/app_name_cds"
                android:windowSoftInputMode="adjustPan" />


    </application>

</manifest>